// Primary Button
.btn.btn-primary {
  color: #fff;
  background-color: $ah-primary;
  border-color: $ah-primary;
}
.btn.btn-primary.focus,
.btn.btn-primary:focus {
  color: #fff;
  background-color: $ah-primary-dark;
  border-color: $ah-primary-dark;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary:hover {
  color: #fff;
  background-color: $ah-primary-dark;
  border-color: $ah-primary-dark;
  outline: none;
  box-shadow: none;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
  color: #fff;
  background-color: $ah-primary-dark;
  border-color: $ah-primary-dark;
  outline: none;
}
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover {
  color: #fff;
  background-color: $ah-primary-dark;
  border-color: $ah-primary-dark;
  outline: none;
  box-shadow: none;
}

// Secondary Button
.btn.btn-secondary {
  color: #fff;
  background-color: $ah-secondary;
  border-color: $ah-secondary;
}
.btn.btn-secondary.focus,
.btn.btn-secondary:focus {
  color: #fff;
  background-color: $ah-secondary-dark;
  border-color: $ah-secondary-dark;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary:hover {
  color: #fff;
  background-color: $ah-secondary-dark;
  border-color: $ah-secondary-dark;
  outline: none;
  box-shadow: none;
}
.btn.btn-secondary.active,
.btn.btn-secondary:active {
  color: #fff;
  background-color: $ah-secondary-dark;
  border-color: $ah-secondary-dark;
  outline: none;
}
.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover {
  color: #fff;
  background-color: $ah-secondary-dark;
  border-color: $ah-secondary-dark;
  outline: none;
  box-shadow: none;
}

