
// $ah-primary: #3b657f;

$ah-primary: #3B6580;
$ah-primary-alt: #3C7DA6;
$ah-primary-light: lighten($ah-primary, 8%);
$ah-primary-dark: darken($ah-primary, 8%);
$ah-primary-background: lighten($ah-primary, 55%);


$ah-secondary: #FFAE33;
$ah-secondary-alt: #F2C894;
$ah-secondary-light: lighten($ah-secondary, 8%);
$ah-secondary-dark: darken($ah-secondary, 8%);
$ah-secondary-background: lighten($ah-secondary, 30%);

$ah-background: #F1F1F1;
$ah-background-dark: darken($ah-background, 20%);

$ah-green: #0c6112;
$ah-green-light: lighten($ah-green, 8%);
$ah-green-dark: darken($ah-green, 8%);
$ah-green-background: lighten($ah-green, 55%);

$ah-red: #8e0909;
$ah-red-light: lighten($ah-red, 8%);
$ah-red-dark: darken($ah-red, 8%);
$ah-red-background: lighten($ah-red, 55%);

$ah-purple: #461771;
$ah-purple-light: lighten($ah-purple, 8%);
$ah-purple-dark: darken($ah-purple, 8%);
$ah-purple-background: lighten($ah-purple, 55%);

$ah-grey: rgb(189, 189, 189);
$ah-grey-light: lighten($ah-grey, 8%);
$ah-grey-dark: darken($ah-grey, 8%);
$ah-grey-background: lighten($ah-grey, 55%);

