// Text Colours
.text-primary {
  color: $ah-primary !important;
}

.text-secondary {
  color: $ah-secondary !important;
}

.text-secondary-dark {
  color: $ah-secondary-dark !important;
}

.text-grey {
  color: $ah-grey !important;
}

.text-grey-dark {
  color: $ah-grey-dark !important;
}

.text-red {
  color: $ah-red !important;
}

.text-green {
  color: $ah-green !important;
}

// Background Colours
.bg-primary {
  background-color: $ah-primary !important;
}

.bg-secondary {
  background-color: $ah-secondary !important;
}

.bg-secondary-dark {
  background-color: $ah-secondary-dark !important;
}

.bg-grey-dark {
  background-color: $ah-grey-dark !important;
}

.bg-grey {
  background-color: $ah-grey !important;
}

.bg-red {
  background-color: $ah-red !important;
}

.bg-green {
  background-color: $ah-green !important;
}