.guide-h1 {
    color: $ah-primary-dark;
}
.guide-h2 {
    color: $ah-primary-dark;
    margin-top: 2rem;
    &::before{
        content: '# ';
    }
}
.guide-h3 {
    color: $ah-primary-dark;
    margin-top: 2rem;
    &::before{
        content: '- ';
    }
}
.guide-h4 {
    color: $ah-primary-dark;
    margin-top: 2rem;
    font-size: 1rem;
    &::before{
        content: '';
    }
}
.box-shadow {
    box-shadow: 0px 0px 25px $ah-grey-lightest, 5px 5px 10px $ah-grey;
}
.img-align-top {
    vertical-align: top;
}
.guide-flex-center{
    display: flex;
    justify-content: center;
}
.guide-flex-column {
    flex-direction: column;
}
.guide-img {
    max-width: 100%;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
}
.guide-video {
    width: 100%;
    height: fit-content;
}
figure {
    color: $ah-grey-dark;
    padding: 10px;
    margin-bottom: 2rem;
}
.guide-list {
    li a {
        color: $ah-primary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.guide-section {
    scroll-margin-top: 8rem;
}