body {
  font-family: 'Roboto', sans-serif;
}


h2 {
  color: $ah-primary-dark;
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
  display: inline-block;
  color: $ah-primary-dark;
  font-weight: bold;
  margin-right: 0.3rem;
}

.text-ah-primary {
  color: $ah-primary
}

.link-primary-secondary {
  color: $ah-primary;
  cursor: pointer;
  &:hover {
    color: $ah-secondary;
  }
}
.ah-link {
  color: $ah-primary;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}